Debug/acBuilding.obj
Debug/bb7k.lib
Debug/bb7k.log
Debug/bb7k.tlog/bb7k.lastbuildstate
*.tlog
*.obj
Debug/vc120.idb
Debug/vc120.pdb
bb7k.opensdf
bb7k.sdf
bb7k.sln
bb7k.v12.suo
bb7k.vcxproj
bb7k.vcxproj.filters
gym.h.gch
Debug/bb7k.Build.CppClean.log
building.h.gch
*.gch
Release/bb7k.lib
Release/bb7k.log
Release/vc120.pdb
a.exe.stackdump
*.exe
*.exe
a.exe
*.exe
a.exe
*.d
*.o
*.zip
*.d
*.o
main.o
main.d
*.swp
Release/bb7k.Build.CppClean.log
main.d